<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ_8WFv8-zFjertnX3w1Ir50tWEgCnabU</string>
	<key>GCM_SENDER_ID</key>
	<string>1014607047105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguoikhuyettat.nguoiKhuyetTat</string>
	<key>PROJECT_ID</key>
	<string>chatwithfirebase-19579</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithfirebase-19579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014607047105:ios:0529b13a7ee1733462e740</string>
	<key>DATABASE_URL</key>
	<string>https://chatwithfirebase-19579-default-rtdb.firebaseio.com</string>
</dict>
</plist>